body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin-left: 320px;
  padding-top: 50px;
  
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: rgb(36, 7, 70);
  border: 3px solid rgba(196, 35, 6, 0.294);
  border-radius: 10px;
  float: left;
  font-size: 70px;
  font-weight: bold;
  line-height: 50px;
  padding: 0;
  text-align: center;
  width: 150px;
  height: 150px;
  color: wheat;
  margin: 2px;

  
}

.square:focus {
  outline: none;
  color: red;
}

.kbd-navigation .square:focus {
  background: rgb(145, 24, 24);
}

.game {
  display: flex;
  flex-direction: row;

}

.game-info {
  margin-left: 100px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  text-align: center;
  color: rgba(86, 21, 146, 0.986);
  font-style: italic;
}
